################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AbstractSealedStatic/bin
/AbstractSealedStatic/obj
/AuthenticationAuthorization/bin
/AuthenticationAuthorization/obj
/ConsoleApp/bin
/ConsoleApp/obj
/DependecyInjection/bin
/DependecyInjection/obj
/DiamondPattern/bin
/DiamondPattern/obj
/HollowRectangle/bin
/HollowRectangle/obj
/Infinity/bin
/Infinity/obj
/InvertedRightAngleTriangle/bin
/InvertedRightAngleTriangle/obj
/Middleware/bin
/Middleware/obj
/Parallelogram/bin
/Parallelogram/obj
/RefAndOut/bin
/RefAndOut/obj
/RightAngleTriangle/bin
/RightAngleTriangle/obj
/RightAngleTriangleReflection/bin
/RightAngleTriangleReflection/obj
/ServiceLifetime/bin
/ServiceLifetime/obj